<div id="outer-wrap">
	<div id="inner-wrap">

		<div id="catchall">

		<div id="header"> 
			<div id="logo">	
			</div>
			<div id="menu">
				<nav>
					<ul class="navigation">
						<li><a href="">HOME</a></li>|
						<li><a href="">THE PROBLEM</a></li>|
						<li><a href="">OUR PLAN</a></li>|
						<li><a href="">SOLUTIONS FOR SCHOOLS</a></li>|
						<li><a href="">ABOUT US</a></li>
					</ul>	
				</nav>
			</div>
		</div>
		<div id="image">
			<div id="banner-left" ></div>
			<div id="banner" ><%= image_tag ('banner.jpg') %></div>
			<div id="banner-right"></div>
		</div>
		<div id="content-wrapper">
			<div id="border"></div>			
			<div id="contents">
				<div id="title">
					<h2>Power an Upgrade for America's K-12 Students</h2>
				</div>
				<div id="speed">
					<h3><%= link_to 'Take the SchoolSpeedTest', 'speedtest' %></h3>	
				</div>		
				<div id="testblock">
					<%= link_to (image_tag ("speed.png"), :class => "icons"), 'speedtest' %>
					<p> Are you at school right now? Looking for a fast way to make a difference for your students? In one minute you can test your school and add it to the first-ever national database of K-12 Internet connections.</p>

					<p>Your data will influence policy at the local, state, and federal levels and help make the case for a K-12 Internet upgrade so we can ensure every student in America has equal access to digital learning. <span style="font-weight: bold; color: #5eb4ff;"><a href="speedtest">Test now</a></span>.</p>
				</div>
				<div id="section2">
					<div id="leftcol">
						<div id="donate" class="sect2"><h3>Donate</h3></div>
						<div>
							<%= image_tag ("mouse.png"), :class => "icons" %>
							<p>Your contribution will power projects to upgrade every school to a learning-ready internet connection and ensure every one of our students has learning-ready Internet access.</p>
							<p>Make a one-time or monthly gift today and help get our kids on the EducationSuperHighway.</p>
						</div>
						<div id="champion" class="sect2"><h3>Be a Champion</h3></div>
						<div >
							<%= image_tag ("star.png"), :class => "icons" %>
							<p>Anyone can be a Champion for America's K-12 students!</p>
							<p>Whether you’re part of the school community, a department of education, or a supportive organization, you can make a difference. Learn how.</p>
						</div>
					</div>
					<div id="rightcol">
						<div id="spread" class="sect2"><h3>Spread the Word</h3></div>
						<div>
							<%= image_tag ("speech.png"), :class => "icons" %>
							<p>Tell your friends and family that our K-12 students are still waiting for their learning to load!</p>
							<p>Share our posts for change on your Twitter, Facebook, or Pinterest.</p>
						</div>
						<div id="partner" class="sect2"><h3>Partner with Us</h3></div>
						<div>
							<%= image_tag ("people.png"), :class => "icons" %>
							<p>Be part of the solution as a member of our public-private coalition of partners including non-profits, companies, professional associations, and state and federal offices.</p>
							<p>Join us, the FCC, the US Department of Education, and State Education Agencies in upgrading schools for our K-12 students.</p>
						</div>
					</div>	
				</div>	
			</div>	
		</div>

			<div id="footer">
					EducationSuperHighway<br>
					1 Montgomery Street, #2500<br>
					San Francisco, CA 94104<br>
					415-263-9171<br>
					info@EducationSuperHighway.org<br>
			</div>	

		</div>		

	</div>
</div>
