<div id="outer-wrap">
	<div id="inner-wrap">
		<div id="catchall" class="">

			<div id="header"> 
				<div id="logo">	
				</div>
				<div id="menu">
					<nav>
						<ul class="navigation">
							<li><a href="">HOME</a></li>|
							<li><a href="">THE PROBLEM</a></li>|
							<li><a href="">OUR PLAN</a></li>|
							<li><a href="">SOLUTIONS FOR SCHOOLS</a></li>|
							<li><a href="">ABOUT US</a></li>
						</ul>	
					</nav>
				</div>
			</div>
			<div id="image">
				<div id="banner-left" ></div>
				<div id="banner" ><%= image_tag ('speedtest.png') %></div>
				<div id="banner-right"></div>
			</div>
			<div id="content-wrapper">
				<div id="border"></div>			
				<div id="contents">
					<div id="title">
						<h2>Take the SpeedTest</h2>
					</div>
					<div id="speed">
					<h3>Select your school...</h3>	
					</div>		

<!-- ***** This is the code for the loading animation ******* -->	
					<div id="testboxoutter">

						<ul id="loadbar" style="display:none;">
							<li>
							    <div id="layerFill1" class="bar"></div> <!-- Control Layer + Bar  -->
							</li>
							<li>
							    <div id="layerFill2" class="bar"></div>
							</li>
							<li>
							    <div id="layerFill3" class="bar"></div>
							</li>
							<li>
							    <div id="layerFill4" class="bar"></div>
							</li>
							<li>
								<div id="layerFill5" class="bar"></div>
							</li>
							<li>
							    <div id="layerFill6" class="bar"></div>
							</li>
							<li>
							    <div id="layerFill7" class="bar"></div>
							</li>
							<li>
							    <div id="layerFill8" class="bar"></div>
							</li>
							<li>
							    <div id="layerFill9" class="bar"></div>
							</li>
							<li>
							    <div id="layerFill10" class="bar"></div>
							</li>
						</ul>		

<!-- ***** End of the code for the loading animation ******* -->	
						
						<div id="testtext">
						</div>	
						<div id="testboxinner">
													
							<div id="nearbyschools">
									<h4 class="sect3">Nearby Schools</h4>	
									Please choose one of the following
								<select id="first-choice">
									<option selected value="base">Grades (K-12)</option>
									<option value="elementary">Elementary School</option>
									<option value="middle">Middle School</option>
									<option value="high">High School</option>
								</select>
								<br />	
									Select your school
								<select id="second-choice">
									<option>Please choose from above</option>
									<option value="school1">East High School (1600 City Park Esplanade, 80206-1508)</option>
									<option value="school2">George Washington (655 S. Monaco Parkway, 80224-1228)</option>
								</select>
								<h3>-  or  -</h3><br />
							</div>
							
							<div id="search">
								<h4 class="sect3">Search for Schools</h4>
								<div>
									<%= form_tag("/search", method: "get") do %>
	  								Search by school name:
	  								<%= text_field_tag(:q) %>
	  								<%= submit_tag("Search") %>
									<% end %>
							
									<%= form_tag("/search", method: "get") do %>
	  								Search by NCES ID number:
	  								<%= text_field_tag(:q) %>
	  								<%= submit_tag("Search") %>
									<% end %>
								</div>	
							</div>
							<div>
								<form  action="", id="runtest">	
								<input type="button" style="height:50px; width:10em;" value="Run Speed Test"  onclick="Delayer(); $('#loadbar').show();" value="Run Speed Test" />
								</form>	
							</div>	

						</div>
					</div>	
				</div>
			</div>

			<div id="footer">
					EducationSuperHighway<br>
					1 Montgomery Street, #2500<br>
					San Francisco, CA 94104<br>
					415-263-9171<br>
					info@EducationSuperHighway.org<br>
			</div>	
		
		</div>

	</div>
</div>		